.about-compnay-container {
  background-color: #72e860;
  text-align: center;
  margin: 5% 15%;
  border: gray 3px solid;
  border-radius: 10px;
  outline-offset: 1rem;
  outline: gray 3px solid;

  padding: 5%;
}
h2 {
  text-decoration: underline;
  margin-bottom: 3%;
}
#info {
  line-height: 2em;
  text-transform: uppercase;
}
.animation-items {
  height: 500px;
  width: 800px;
  position: relative;
  margin: auto;
}

.animation-items::before {
  content: "";
  border: 5px solid gray;
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: -1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
}
.animation-items::after {
  content: "";
  background: grey;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
}
.animation-items:hover::after,
.animation-items:hover::before {
  left: 0;
  top: 0;
}
.img {
  height: 100%;
  width: 100%;
  display: block;
}
