.about-compnay-container {
  background-color: #72e860;
  text-align: center;
  margin: 5% 15%;
  border: gray 3px solid;
  border-radius: 10px;
  outline-offset: 1rem;
  outline: gray 3px solid;

  padding: 5%;
}
h2 {
  text-decoration: underline;
  margin-bottom: 3%;
}
#info {
  line-height: 2em;
  text-transform: uppercase;
}
