@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;

  /* background: linear-gradient(#9198e5d8, #e664643b),
    url("./Images/computerstation.jpg"); */
}

.spacer {
  height: 100px;
}
.content {
  font-size: 2rem;
}
